
html body
    height 100%
    margin 0
    padding 0

.home
    height 100vh
    padding 15px 15px 0 15px
    .markerbox-container
        z-index 10
        width 100%
        max-width 421px
        height 90px
        overflow-y scroll
        
        .option-box
            .option-icon
                float right
                margin 5px 25px 0 0
                .icon
                    width 19px
                    height 19px