
html body
    height 100%
    margin 0
    padding 0

.home
    width 100%
    height 100vh
    padding 15px 15px 0 15px
    .markerbox-container
        position absolute
        left 50%
        z-index 10
        width 100%
        max-width 421px
        height 110px
        // overflow-y scroll
        .markerbox-box
            position relative
            height 110px
            overflow-y scroll
            padding 0 0 0 15px
            .option-box
                .option-icon
                    float right
                    margin 5px 25px 0 0
                    .icon
                        width 19px
                        height 19px
    
    .total-box
        display flex
        align-items center
        .total-text
            margin 0 15px 0 0
            font-size 20px
        .btn-container
            margin 0 0 0 0
            button
                width 100px
                height 30px
                color #ffffff
                background-color #41985e
                border 1px #ffffff solid 
                border-radius 3px

    .gmap
        margin 95px 0 0 0 