.destination-box
    .location-box
        display flex
        .icon
            img
                width 19px
                height 19px
        .location-name
            .name
                font-size 1.2em

    .order-form
        display flex
        padding 0 0 0 10px
        input
            height 26px
            margin 0 5px 0 0
            
