.destination-box
    .location-box
        display flex
        .icon
            img
                width 19px
                height 19px
        .location-name
            name
                font-size 20px

    .order-form
        display flex
        input
            margin 0 5px 0 0
