
.marker-box
    width 100%

    .marker-container
        .marker-icon
            display inline-block
            margin 0 3px 5px 0
            .icon
                width 18px
                height 18px

        .input-box
            display inline-block
            width 90%
            input
                height 20px
                width 100%
        
        .remove-icon
            display inline-block
            // float right
            img
                width 18px
                height 18px
                margin 10px 0 0 -25px