
.marker-box
    width 100%

    .marker-container
        display flex
        margin 0 0 5px 0
        .marker-icon
            margin 0 3px 5px 0
            .icon
                width 18px
                height 18px

        .input-box
            // width calc(100% - 50px)
            width calc(100% - 35px)
            input
                height 30px
                width 100%
        
        .remove-icon
            margin 3px 0 0 -23px
            img
                width 18px
                height 18px